@using System.Net.Http;
@using System.Text;
@using System.Linq;
@{
    var types = AppEngine.Default.GetService<ITypeFinder>().Find<Controller>().ToArray();
    var controllers = from t in types
                      orderby t.FullName
                      from m in t.GetMethods(System.Reflection.BindingFlags.Instance | System.Reflection.BindingFlags.Public | System.Reflection.BindingFlags.DeclaredOnly)
                      where !m.IsSpecialName
                      select new { ControllerName = t.FullName, ActionName = m.Name, Params = m.GetParameters() };

    StringBuilder sb = new StringBuilder();
    foreach (var item in controllers)
    {
        var paramters = string.Join(",", item.Params.Select(m => m.Name).ToList());

        sb.AppendLine(string.Format("Controller: {0} , Action: {1}({2}) <br/>", item.ControllerName, item.ActionName, paramters));

    }
    sb.AppendLine(string.Format("Controller / action count: {0} <br/>", controllers.Count()));
    sb.AppendLine(string.Format("Controller count: {0} <br/>", controllers.GroupBy(c => c.ControllerName).Count()));
}
<div>
    @Html.Raw(sb.ToString())
</div>

<hr />
<table class="table table-bordered table-striped table-hover table-condensed">
    <thead>
        <tr>
            <th class="text-center">Id</th>
            <th class="text-center">Code</th>
            <th class="text-center">price</th>
            <th class="text-center">%</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in this.Model)
        {
            <tr>
                <td>@item.Prefix</td>
                <td>@item.Proince</td>
                <td>@item.City</td>
                <td>@item.Vendor</td>
            </tr>
        }*@
    </tbody>
</table>
@section scripts    {
    <!-- Morris.js charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="~/js/morris/morris.min.js"></script>
    <!-- Sparkline -->
    <script src="~/js/sparkline/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="~/js/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/js/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/js/knob/jquery.knob.js"></script>
    <!-- datepicker -->
    <script src="~/js/datepicker/bootstrap-datepicker.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/js/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/js/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/js/fastclick/fastclick.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/js/pages/dashboard.js"></script>
}