@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@if (this.User.Identity.IsAuthenticated)
{
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="~/img/user2-160x160.jpg" class="user-image" alt="User Image">
        <span class="hidden-xs">@this.User.Identity.Name</span>
    </a>
    <ul class="dropdown-menu">
        <li class="user-header">
            <img src="~/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            <p>
                @this.User.Identity.Name - @this.User.Claims.FirstOrDefault(m=>m.Type == ClaimTypes.Role).Value
                <small>Member since Nov. 2012</small>
            </p>
        </li>
        <!-- Menu Body -->
        <li class="user-body">
            <div class="row">
                <div class="col-xs-4 text-center">
                    <a href="#">@("View.Followers".ToLocalized())</a>
                </div>
                <div class="col-xs-4 text-center">
                    <a href="#">@("View.Sales".ToLocalized())</a>
                </div>
                <div class="col-xs-4 text-center">
                    <a href="#">@("View.Friends".ToLocalized())</a>
                </div>
            </div>
            <!-- /.row -->
        </li>
        <!-- Menu Footer-->
        <li class="user-footer">
            <div class="pull-left">
                <a asp-controller="Account" asp-action="Profile" class="btn btn-default btn-flat">@("View.Profile".ToLocalized())</a>
            </div>
            <div class="pull-right">
                <a asp-controller="Account" asp-action="LogOff" class="btn btn-default btn-flat">@("View.Sign out".ToLocalized())</a>

            </div>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register">@("View.Register".ToLocalized())</a></li>
        <li><a asp-controller="Account" asp-action="Login">@("View.Log in".ToLocalized())</a></li>
    </ul>
}
